template
  require(from='aurelia-dialog/dialog.css')
  ai-dialog
    ai-dialog-header
      h2 ${title}
    ai-dialog-body
      h2(if.bind="msg") ${msg}
      compose(if.bind="viewModel", view-model.bind="viewModel")
    ai-dialog-footer
      button.btn.btn-default(if.bind="showCancelButton", click.trigger='controller.cancel()') ${cancelBtnText}
      button.btn.btn-default(if.bind="viewModel", click.trigger='controller.ok(model)') ${okBtnText}
      button.btn.btn-default(if.bind="!viewModel", click.trigger='controller.ok()') ${okBtnText}
